[Desktop Entry]
_Name=unitConverter
Exec=qmlscene %U unitConverter/Main.qml
Icon=unitConverter/unitConverter.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
